/*.post_block {*/
/*    padding: 10px;*/
/*    background-color: white;*/
/*    border-radius: 20px;*/
/*}*/
/*.posts {*/
/*    margin-top: 10px;*/
/*}*/

.post_block {
    padding: 10px;

}
.posts {
    margin-top: 10px;
}

textarea {
    max-width: 500px;
    border-radius: 3px;
}