.nav {
    grid-area: nav;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    color: #33363c;
    height: 600px;
}


.activeLink {
    text-decoration: none;
    color: gold;
}
.item {
    text-decoration: none;
    color: #33363c;
    font-size: 24px;
    font-weight: 700;
}
.friends_block {

    padding-top: 100px;

}
.friends {
    padding-top: 20px;
    display: flex;
    font-size: 24px;
    font-weight: 700;
    background-color: #dcdcdc;
    border-radius: 10px;
}
.friend {
    padding-left: 20px;
    font-size: 16px;
}
.friend img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


