body{
    margin: 0;
}
.app-wrapper {
    width: 1300px;
    height: 100%;
    display: grid;
    grid-template-areas:
"header header"
"nav content";
    grid-template-rows: 70px minmax(500px, 1fr);
    grid-template-columns: 300px 1fr;
    grid-gap: 20px;
    margin: 0 auto;
}

.app-wrapper-content {
    grid-area: content;
    background-color: #33363c;
    border-radius: 20px;
}
