.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogs_items a{
    padding: 10px;
    color: red;
}

.dialogs_items .active {
    color: gold;
}

.dialog {
    padding: 10px;
    color: white;
}
.messages {
    padding: 10px;
    color: white;
}
.message {

}